.title {
    margin-left: 6%;
    margin-right: 10%;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    background: linear-gradient(174.64deg, #96FBC4 4.27%, #ACFCB2 28.08%, #C5FBA0 57.13%, #DEF991 74.28%, #F9F586 93.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.nav-button {
    margin-right: 1%;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    color: #eaeaea;
}

.join-button {
    width: 150px;
    margin-right: 6%;
    color: #111111;
    border-radius: 6px;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
}

.engineer-join-button {
    width: 200px;
    color: #111111;
    border-radius: 6px;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
}

.recruiter-join-button {
    width: 200px;
    color: #96FBC4;
    border-radius: 6px;
    border: thin solid #96FBC4;
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
}
